@if (_isModalOpen) {
    <div class="details-modal-overlay" @onclick="CloseModal">
        <div class="details-modal-content" @onclick:stopPropagation="true">
            <button class="details-modal-close-btn" @onclick="CloseModal"><i class="fas fa-times"></i></button>
            <div class="details-modal-body">
                <MediaFilesOnDvd.UI.Pages.MediaFiles Id="@id" IsModal="true" />
            </div>
        </div>
    </div>
}


@code {
    private bool _isModalOpen = false;
    private void CloseModal() {
        _isModalOpen = false;
    }
    private int id;

    public void Open(int mediaFileId)
    {
        id = mediaFileId;
        _isModalOpen = true;
        StateHasChanged();
    }
}
